
#flashContent {
    border: 1px solid lightgray;
    width: 400px;
    height: 300px;
}
object, embed {
    height: 300px;
    border: 1px solid lightgray;
    padding: 0px;
    margin: 0px;
}

.panels {
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
}
.left-panel > textarea {
    height: 300px;
    /*background-color: lightgray;*/
    color: lightgray;
}
.left-panel .send-form button {
    height: 80px;
    /*color: lightgray;*/
}
.left-panel .send-form textarea {
    height: 80px;
    color: lightgray;
}
.right-panel {
    /*border: 1px solid;*/
    text-align: center;
}
.right-panel button {
    height: 80px;
}